.page-header {
  margin-bottom: 1.5rem;
  .page-title {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
  }
}

nav.post-navigation{
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #cacaca;
  .nav-links{
    span{
      max-width: 50%;
      &.previous-nav{
        border-right: solid 1px #aaa;
      }
      a>i{
        font-weight: bold;
      }
    }
  }
}

.entry-title {
  &.card-title {
    font-size: 1.4rem;
  }
}

blockquote, .wp-block-quote {
  @include quote;
  cite {
    color: $darkred;
  }
}

.list-item {
  .card {
    .card-img-top {
      min-height: 75px;
      max-height: 275px;
      background-size: cover;
      background-position: center bottom;
      background-color: #000;
      background-repeat: no-repeat;
      overflow: hidden;
      img {
        visibility: hidden;
      }
    }
  }
}